
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500
}






